{% extends 'base.html' %}
{% load static %}
{% block title %} {{post.title_tag}} {% endblock %}

{% block content %}


<h1>{{post.title}}</h1>
<h2><a href="{% url 'category' post.category|slugify%}"> Category--{{post.category}}</a></h2><br/>
<small>{{post.author.first_name}}-{{post.author.last_name}}-{{post.post_date}}
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <a href="{% url 'update_post' post.pk%}">(Edit)</a></small><br/>
    {% endif %}
{% endif %}    
<hr><br/>
{% if post.header_image%}
    <img src=" {{post.header_image.url}} " alt=" Destination image ">
{% endif %} <br/><br/>    
{{post.body|safe}}
<br/>

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <a href="{% url 'delete_post' post.pk%}">(Delete)</a><br/>
    {% endif %}
{% endif %}
<hr/>
<br/>

<form action=" {% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
{% if user.is_authenticated %}

    {% if liked %}
        <button type="submit", name="post.id", value="{{ post.id }}", class="btn btn-danger btn-sm">Unlike</button>-
    {% else %}
        <button type="submit", name="post.id", value="{{ post.id }}", class="btn btn-primary btn-sm">likes</button>-
    {% endif %}
{% else %}
    <small><a class="nav-link" href="{% url 'login' %}"> Login</a>to like</small> 
{% endif %}    
    {{ total_likes }} likes
    <br/><br/>
    
    <div class="card mb-3" >
        <div class="row g-0">
          <div class="col-md-2">
          {% if post.author.profile.profile_pic %}  
            <img src=" {{ post.author.profile.profile_pic.url }} " alt="..."  width="190px" height="200px">
          {% else %}
            <img src=" {% static 'theblog/images/default_picture.png' %} " alt="..."  width="190px" height="200px">   
          {% endif %}
        </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">{{post.author.first_name}}-{{post.author.last_name}}</h5>
              <p class="card-text"><small class="text-muted">
                    
                    <a href=" {% url 'show_profile_page' post.author.profile.id %}">Profile-page</a>

                    {% if  post.author.profile.facebook_url %}
                        <a href="{{ post.author.profile.facebook_url }}">| Facebook</a> 
                    {% endif %}

                    {% if  post.author.profile.twitter_url %}
                        <a href="">| Twitter </a> 
                    {% endif %}
                    
                    {% if  post.author.profile.instagram_url %}
                        <a href="">| Instagram</a>
                    {% endif %}
                </small></p>
              <p class="card-text">{{ post.author.profile.bio }} </p>
            </div>
          </div>
        </div>
      </div>
    
    <br/>
</form>
<hr/>
<h2>Comments....</h2>
{% if not post.comments.all %}
  No comments yet.... <a href="{% url 'add_comment' post.pk %}">Add one</a>
{% else %}
<a href="{% url 'add_comment' post.pk %}">Add comment</a><br/>
  {% for comment in post.comments.all %}
    <strong>{{ comment.name}}- {{ comment.date_added}}</strong>
    <br/>
    {{ comment.body }}
    <br/><br/>
  {% endfor %}
  <a href="{% url 'add_comment' post.pk %}">Add comment</a><br/>  
{% endif %} 
<br/>

<hr/> 

{% endblock %}