{% extends 'base.html' %}

{% block content %}
{% if category_posts %}
   
<h1> {{ cats }} Category...</h1>

<ul>
{% for post in category_posts %}
    <li><a href="{% url 'article-detail' post.pk%}">{{post.title}}</a> -{{post.author.first_name}}-{{post.author.last_name}}--{{post.post_date}}<br/>
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                <a href="{% url 'update_post' post.pk%}">(Edit)</a> <a href="{% url 'delete_post' post.pk%}">(Delete)</a><br/>
            {% endif %}    
        {% endif %}

        {{ post.body|slice:": 200"|safe }}....
    </li>

{% endfor %}
</ul>
{% else %}
 Sorry this page does not exist
 {% endif %}
{% endblock %}